
:root {
    --primary-color: #488AEC;
    --text-color: #eaeef3;
    --grey-color: #687080;
    --orange-color: #FEB700;
    --white-color: #ffffff;
    --dark-color: #212121;
    --background-color: #ECEADA;



    --primary-font: 'Montserrat', sans-serif;
    --second-font: 'Prata', serif;
    --fs14: 14px;
    --fw600: 600;

    --shadow: 0px 10px 20px 0px rgb(0 0 0/20%);
}


/* #CSS SLIDER */
.hero{
    background-color: var(--background-color);
    height: 600px;
}
.main .main_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main .main_content .main_text {
    margin-left: 20px;
}
.main .main_content .main_text h1 {
    font-size: 90px;
    line-height: 70px;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.main .main_content .main_text h1 span {
    font-size: 70px;
    color: var(--primary-color);
    font-family: var(--second-font);
}

.main .main_content .main_text p {
    width: 300px;
    line-height: 21px;
    margin: 20px 0 100px;
}

.main .main_content .main_image img {
    width: 400px;
    margin: 20px 0 30px;
}

.main .btn-primary{
    transition: 0.3s ease-in-out;
}

.main .btn-primary:hover {
    transform: scale(1.5);
}

/* #CSS PRODUCT */

.products {
    width: 100%;
    /* height: 140vh; */
    background-color: var(--background-color);
}

.products h2 {
    margin: 35px 0;
    font-size: 60px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.products .box .card {
    width:20%;
    box-shadow: var(--shadow);
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
    background: var(--white-color);
    transition: 0.3s ease-in-out;
}
.products .box .card:hover {
    transform: translateY(-.5rem);
}

.box .card .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .image img {
    width: 70%;
    margin: 15px 0;
    border-radius: 10px;
}


.card .products_text h3 {
    font-size: 20px;
    font-family: var(--second-font);
    margin-top: 15px;
    color: var(--dark-color);
}

.card .products_text p {
    color: var(--dark-color);
    line-height: 21px;
    margin: 8px 0;
}

.card .products_text .products_star {
    color: var(--orange-color);
    margin-bottom: 19px;
    cursor: pointer;
}

.card .products_text .products-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card .products_text .products-btn button i {
    margin-right: 5px;
}



/* #CSS PAGINATION */


.pages .list-page {
    display: flex;
    list-style: none;
    width: 400px;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;

}

.pages .list-page li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--grey-color);
    border-radius:10px;
}

.active {
    text-decoration: underline;
    color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius:10px;
    background-color: var(--primary-color);
}

/* #CSS footer */
footer .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    color: var(--dark-color);
}
footer .footer-top .footer-widget .logo img {
     height: 100px;
     width: 100px;
}
footer .footer-top .footer-widget .contact-info li {
    display: flex;
    list-style: none;
}

footer .footer-top .about-widget ul {
    list-style: none;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    color: var(--dark-color);
   border-top: 1px solid var(--grey-color); 
}

footer .footer-bottom .footer-social .social-item {
    display: flex;
    gap: 20px;
    list-style: none;
}